.formulario {
    width: 1400px;

    fieldset {
        margin: 60px 0;
        padding: 30px 0;

        legend {
            margin: 0 50px;
            padding: 0 20px;
        }
    }

    .form {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;

        div {
            display: flex;
            flex-direction: column;
            margin: 5px;
        }
    }

    h4 {
        font-size: 15px;
    }

    .field {
        width: 160px;
        padding: 6px 5px;
    }

    .form-error {
        font-size: 12px;
        color: red;

        &::before {
            content: '*';
            font-size: 16px;
        }
    }

    .button {
        padding: 14px 24px;
        height: 0;
        margin-top: 23px;
        display: grid;
        place-content: center;
        margin-left: 5px;
    }
}

